.header {
    border-bottom: 1px solid #ddd;
    background-color: #fff;
}

.nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


.nav__link.nav__link-logo {
     display: inline-block;
     padding: 0;
} 

.nav__link {
    color: #000;
    font-size: 17px;
    font-weight: 700;
    padding: 36px 0;
    display: inline-block;
    &:hover {
        color: #63D1BB;
    }
}

.nav__link_line {
    border-right: 1px solid #ddd;
    padding-right: 30px;
}

.nav__link-search-icon {
    display: inline-block;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    font-size: 0;
    width: 85px;
    height: 91px;
    background: url(../img/icon/search.svg) no-repeat center center;
    &:hover {
        background-color: #F6F5F5;
    }
}

.nav__link-basket-icon {
    &:before {
        display: inline-block;
        vertical-align: top;
        margin-right: 25px;
        content: "";
        width: 19px;
        height: 20px;
        background: url(../img/icon/basket.svg) no-repeat center center;
    }
}